.container {
  min-height: 50vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}

.boardUl{
  font-family: Avenir,Heveltica, sans-serif;
}
.boardLi:nth-child(n):nth-child(-n+9) {
  border-top-width: 4px;
}
.boardLi:nth-child(n+73):nth-child(-n+81) {
  border-bottom-width: 4px;
}
.boardLi:nth-child(3n) {
  border-right-width: 4px;
}
.boardLi:nth-child(9n+1) {
  border-left-width: 4px;
}
.boardLi:nth-child(n+19):nth-child(-n+27) {
  border-bottom-width: 4px;
}
.boardLi:nth-child(n+46):nth-child(-n+54) {
  border-bottom-width: 4px;
}

.boardUl {  
  display: grid;
  grid-template-columns: repeat(9, 5vw);
  grid-template-rows: repeat(9, 5vw);
  justify-content: center;
  align-content: center;
  grid-gap: 0rem;
  list-style: none;
  margin: 0 0 2vw;
  padding: 0;
  font-size: calc(2vw + 10px);
}
.boardLi {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.input{
  font-family: Avenir,Heveltica, sans-serif;
  font-size: calc(2vw + 10px);
  border: 2px solid pink;
  max-width: 24px;
  max-height: 32px;
  text-align: center;
}


.button {
    width: 100px;
    height: 30px;
}

.generateButton {
  width: 100px;
  height: 30px;
}

.solveButton {
  width: 100px;
  height: 30px;
}

.correct {
  font-family: Avenir,Heveltica, sans-serif;
  background-color: rgb(125, 216, 125);
  width: 130px;
  text-align: center;
}

.incorrect {
  font-family: Avenir,Heveltica, sans-serif;
  background-color: rgb(255, 105, 105);
  width: 130px;
  text-align: center;
}


